<div class="container">
  <h1 class="text-center">Can Do!</h1>
  <div id="todo-input" class="row">
    <div class="col-md-6 col-md-offset-3">
      <form id="new-todo">
        <div class="input-group">
          <input id="new-todo-name" type="text" class="form-control" placeholder="Enter a new todo item..." autocomplete="off">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Create</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div id="todo-lists" class="row">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" data-list="pending" data-sort="date">Date</button>
            <button type="button" class="btn btn-default" data-list="pending" data-sort="name">Name</button>
          </div>
          <h4>Todo</h4>
        </div>
        <table class="table todo-list" data-list="pending">
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" data-list="completed" data-sort="date">Date</button>
            <button type="button" class="btn btn-default" data-list="completed" data-sort="name">Name</button>
          </div>
          <h4>Done</h4>
        </div>
        <table class="table todo-list" data-list="completed">
        </table>
      </div>
    </div>
  </div>
</div>
